Source: ros-testing-rviz-default-plugins
Section: misc
Priority: optional
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), qtbase5-dev, ros-testing-ament-cmake, ros-testing-ament-cmake-cppcheck, ros-testing-ament-cmake-cpplint, ros-testing-ament-cmake-gmock, ros-testing-ament-cmake-gtest, ros-testing-ament-cmake-lint-cmake, ros-testing-ament-cmake-uncrustify, ros-testing-ament-index-cpp, ros-testing-geometry-msgs, ros-testing-interactive-markers, ros-testing-laser-geometry, ros-testing-map-msgs, ros-testing-nav-msgs, ros-testing-pluginlib, ros-testing-rclcpp, ros-testing-resource-retriever, ros-testing-rviz-common, ros-testing-rviz-ogre-vendor, ros-testing-rviz-rendering, ros-testing-rviz-rendering-tests, ros-testing-rviz-visual-testing-framework, ros-testing-tf2, ros-testing-tf2-geometry-msgs, ros-testing-tf2-ros, ros-testing-tinyxml-vendor, ros-testing-urdf, ros-testing-visualization-msgs, ros-testing-ros-workspace
Homepage: https://github.com/ros2/rviz/blob/ros2/README.md
Standards-Version: 3.9.2

Package: ros-testing-rviz-default-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5opengl5, libqt5widgets5, ros-testing-geometry-msgs, ros-testing-interactive-markers, ros-testing-laser-geometry, ros-testing-map-msgs, ros-testing-nav-msgs, ros-testing-pluginlib, ros-testing-rclcpp, ros-testing-resource-retriever, ros-testing-rviz-common, ros-testing-rviz-ogre-vendor, ros-testing-rviz-rendering, ros-testing-tf2, ros-testing-tf2-geometry-msgs, ros-testing-tf2-ros, ros-testing-tinyxml-vendor, ros-testing-urdf, ros-testing-visualization-msgs, ros-testing-ros-workspace
Description: Several default plugins for rviz to cover the basic functionality.
